* {
    padding: 0;
    margin: 0;
}

body {
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.try-again {
    margin-top: 1em;
    font-size: 2vh;
    font-family: 'Arial Unicode MS', sans-serif;
    text-shadow: 0.07vh 0.07vh 0.07vh #c0c0c0;
    color: #789922;
}

.hud {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 3.5vh;
    color: black;
    position: absolute;
    top: 1%;
    z-index: 1;
}

.combo {
    left: 1%
}

.score {
    left: 50%;
    transform: translate(-50%, 0);
}

.high-score {
    right: 1%;
}

.endgame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    z-index: 1;
    text-align: center;
}

.endgame p {
    font-size: 7vh;
    font-family: 'Impact', sans-serif;
    color: white;
    -webkit-text-stroke: 0.04em black;
}